{% extends 'base.jinja2' %}

{% block subtitle %}Donate{% endblock subtitle%}

{% block content%}


<form method = "POST">
    <select name ="donor" id = "donor">
        {% for donor in donors %}
            <option value={{donor.name}}>{{donor.name}}</option>"
        {% endfor %}
    </select>
    <label for="donation"> Donation amount: </label><input type="text" id="donation" name="donation"><br>
    <input type="submit" value="Submit">
</form>
{% endblock content%}
